<section>

<ul class="breadcrumb">
  <li><%= link_to 'back', :back %></li>
</ul>

<div class="page-header">
  <h1>Table lists</h1>
  <%= link_to 'download', combine_report_list_path(@report_list) %>
  <%= link_to 'preview', report_list_table_lists_path(@report_list) %>
</div>

</section>

